<h1>Lista de Todos los Usuarios</h1>
<div class="container">
<section id="intro" class="intro">
  <div class="jumbotron">
<table style="width:125%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Ext</th>
      <th>Puesto</th>
      <th>Department</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.ext %></td>
        <td><%= user.puesto %></td>
        <td><%= user.department.name%></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
    <%= link_to 'New User', new_user_path %>
  </div>
</section>
</div>
